@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
    font-family: "San Francisco Pro Display Bold";
    src: url("./fonts/FontsFree-Net-SFProDisplay-Bold.ttf") format("truetype");
}

/* main */

body {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #1b3452;
}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

/* navbar */

.navbar-nav > .nav-item > a.salero-a {
    padding-right: 30px;
    padding-left: 30px;
}

.navbar-nav > .nav-item > a.salero-a:hover {
    color: #4385f4;
}

.salero-brand {
    font-family: "San Francisco Pro Display Bold";
    font-size: 28px;
    padding-top: 40px;
}

.salero-navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.salero-navbar-inside {
    justify-content: flex-end;
}

.navbar-nav {
    align-items: baseline;
}

#try-free-button {
    background-color: rgba(67, 133, 244, 0.1);
    padding: 20px 30px;
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 4px;
    color: #4385f4;
}

#try-free-button:hover {
    background-color: #4385f4;
    color: white;
}

/* first section */

#hero-image {
    height: 900px;
    background-image: url("./images/shutterstock_1092993509.jpg");
    background-color: rgba(67, 133, 244, 0.02);
    background-blend-mode: multiply;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.hero-image-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 780px;
}

.hero-image-container-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    margin-bottom: 220px;
}

.salero-h-wrapper {
    margin-bottom: 265px;
}

.salero-h {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;
}

.salero-p {
    font-weight: 300;
    font-size: 17px;
    margin-bottom: 24px;
}

.salero-form {
    margin: 0;
    padding: 20px 0 20px 0;
    background: #edf2f9;
    border-radius: 6px;
    justify-content: space-between;
}

#email {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    padding: 16px 32px 16px 20px;
    max-height: 52px;
    margin-left: 12px;
    border: 1px solid #e6ebf1;
    border-radius: 4px;
}

.submit-button {
    padding: 20px 10px;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 12px;
    max-height: 52px;
    background: #4385f4;
    border-radius: 4px;
    margin-right: 12px;
}

.salero-form > .form-group {
    width: 100%;
    justify-content: space-between;
}

/* hero-media */
@media (min-width: 576px) and (max-width: 1199px) {
    #email {
        width: calc(100% - 24px);
        margin-right: 12px;
    }

    .submit-button {
        width: calc(100% - 24px);
        margin-left: 12px;
        margin-top: 20px;
    }
}

@media (max-width: 992px) {
    #hero-image {
        height: fit-content;
        padding-bottom: 24px;
    }
    .hero-image-container {
        height: fit-content;
    }

    .submit-button {
        width: calc(100% - 24px);
        margin-left: 12px;
        margin-top: 20px;
    }

    .salero-form > .form-group {
        margin-bottom: 0;
    }

    #email {
        width: calc(100% - 24px);
        margin-right: 12px;
    }

    .form-inline {
        flex-direction: column;
    }

    .flex-fix {
        flex: 0 1 auto;
    }

    .salero-h {
        font-family: Fira Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 24px;
    }

    .salero-brand {
        font-size: 20px;
        padding-top: 16px;
    }

    .navbar-toggler-icon {
        width: 20px;
        height: 20px;
    }

    .navbar-light .navbar-toggler {
        color: transparent;
        border: none;
        margin-top: 8px;
    }

    #try-free-button {
        margin-top: 0;
        margin-left: 0;
    }

    .navbar-nav {
        align-items: center;
    }

    .hero-image-container {
        flex-direction: column-reverse;
        display: flex;
        justify-content: flex-end;
        flex-wrap: nowrap;
    }

    .salero-h-wrapper {
        margin-bottom: 0;
        margin-top: 30px;
    }

    .hero-image-container-img {
        margin-bottom: 0;
        padding-right: 20px;
        padding-left: 20px;
        margin-top: 35px;
    }
}
